VITE_FIREBASE_API_KEY=replace-me
VITE_FIREBASE_AUTH_DOMAIN=replace-me.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=replace-me
VITE_FIREBASE_STORAGE_BUCKET=replace-me.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=replace-me
VITE_FIREBASE_APP_ID=replace-me
VITE_FIREBASE_MEASUREMENT_ID=replace-me
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
VITE_FIREBASE_USE_EMULATORS=false
VITE_FIRESTORE_EMULATOR_PORT=8080
VITE_FUNCTIONS_EMULATOR_PORT=5001
VITE_STORAGE_EMULATOR_PORT=9199
VITE_DEFAULT_USDT_EGP_RATE=50
VITE_ADMIN_PAYMENT_BINANCE_USDT_BSC=0xf4eca9ac6d3df1aed0d819e16ad9214448ae4cd0
